
/* -------------------------------------------
    header styles
 ------------------------------------------- */
header{
    background-color: rgba(255, 144, 14, 0.1);
    padding: 2em 8em 2em 8em;
}
/* navbar style
------------------ */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left{
    font-weight: 700;
    font-size: 2em;
    color: #131313;
}
.right{
    display: flex;
    flex-direction: row;
    gap: 4em;
}
nav a{
    text-decoration: none;
    font-size: 1em;
    font-weight:500;
    color: #424242;
}
/* div ( Writing ) part style
------------------------------- */
.sec-headline{
    display: flex;
    flex-direction: column;
    gap: 2em;
    text-align: center;
    padding: 2em 10em 2em 10em;
}
.headline{
    color: #131313;
    font-size: 4em;
    font-weight: 700;
}
.bodyline{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
}
.button-1{
    align-self:center;
    background-color: #FF900E;
    border: 1px solid #FF900E;
    border-radius: 5px;
    width: 10em;
    height: 3.5em;
    color: white;
    font-weight: 600;
    font-size: 1em;
}
/* Image part
------------------ */
img{
    width: 100%;
    border-radius: 8px;
}
/* -----------------------------------
   Main part style
-------------------------------------- */
main{
    padding: 2em 8em 2em 8em;
}
/* section-1 -------------- */
.section-1{
    display: flex;
    text-align: left;
    padding: 0 7em 0 7em;
}
.img-sqr{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 1.5em;
    padding-top: 2em;
}
.article{
    width: 40%;
    padding-left: 3em;
    align-self: center;
}
.headline-2{
    font-size: 2em;
    font-weight: 700;
}
.ash{
    color: #727272;
}
.orange{
    color: #FF900E;
}
.para{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
}
/* section-2  ------------- */
.section-2{
    display: flex;
    justify-content: space-between;
    padding: 4em 2em 0 2em;
}
.part-1{
    width: 50%;
    padding-right: 8em;
}
.headline-3{
    font-size: 2em;
    font-weight: 700;
    border-left: 5px solid #FF900E;
    border-radius: 5px;
    padding-left: 1em;
}
.para-2{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 20px;
}
.segments{
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    color: #727272;
    margin-bottom: 20px;
    padding: 30px 10px 30px 10px;
    text-overflow:ellipsis;
}
title{
    display:block;
    font-size: 18px;
    font-weight: 600;
    color: #131313;
    margin-bottom: 5px;

}
.part-2{
    padding-bottom: 2em;
    position: relative;
}
.button-2{
    position: absolute;
    top: 88%;
    right: 70%;
    background-color: #FF900E;
    border: 1px solid #FF900E;
    border-radius: 5px;
    width: 230px;
    height: 130px;
    color: white;
    font-weight: 700;
    font-size: 45px;
    padding: 30px 30px 30px 30px;
}
/* --------------------
bonus
  ---------------------- */
.bonus{
    background-color: #f5ae5c;
    margin: 5em 0 1em;
    text-align: center;
    color: white;
    font-size: 30px;
    padding: 1em 0 2em 0;
}
.image{
    display: flex;
    gap: 3em;
    justify-content: center;
}
.bonus img{
    width: 40%;
    height: 40%;
}
.archi{
    color: #424242;
    font-size: 20px;
    font-weight: 600;
    background-color: bisque;
    width: 25%;
    height: 30%;
    padding-top: 1em;
}
/* section-3  -------------- */
.section-3{
    text-align: left;
    width: 50%;
    padding: 50px 0 0 50px;
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-bottom: 2em;
}
h3{
    font-size: 38px;
    margin-top: 0;
    margin-bottom: 0;
}
.para-3{
    font-size: 16px;
    font-weight: 400;
    color: #727272;
}
/* section-4  ---------------- */
.section-4{
    align-items: center;
}
.icons{
    display: flex;
    justify-content: space-evenly;
    gap: 2em;
    text-align: center;
}
.icon{
    border: 1px solid #FF900E;
    border-radius: 8px;
    border-radius: 8px;
    transition: width 1s;
    width: 200px;
    height: 200px;
    padding: 5px;
}
.icon:hover{
    width: 220px;
    height: 220px;
    background-color: pink;
}
.icon img{
    width: 30px;
    height: 30px;
    padding-top: 50px;
}
.numb{
   color:#424242;
   font-size: 40px;
   font-weight: 600;
   margin: 0;
}
.name{
    color: #727272;
    font-size: 15px;
    font-weight: 600;
    margin: 0;
}
/* section-5  ----------------- */
.section-5{
    text-align: center;
    padding: 2em 20em 2em;
    margin-top: 5em;
}
/* section-6  ----------------- */
.sponsors{
    display: flex;
    gap: 2em;
    padding: 0 50px 0 50px;
}
nav img{
    width: 10%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
/* --------------------
     footer
   -------------------- */
.foot{
    text-align: center;
    color: #727272;
    font-size: 15px;
    font-weight: 400;
    background-color: rgba(255, 144, 14, 0.1);
    padding: 2em 10em 2em 10em;
    margin: 5em 10em 10em 10em;
    width: 60%;
}

/* External CSS styles are end here and
--------------------------------------------------------------------------
--------------------------------------------------------------------------
media query for responsiveness in mobile starts. */

@media screen and (max-width:576px) {
    header{
        padding: 1em 2em 1em 2em;
    }
    .login-bar{
        flex-direction: column;
        padding: 0 2em 0 2em;
    }
    .right{
        display: flex;
        flex-direction: column;
        gap: 2em;
    }
    .headline{
        font-size: 2em;
        font-weight: 600;
        align-self: center;
    }
    .bodyline{
        align-self: center;
    }
    /* -------------- */
    .section-1{
        flex-direction: column;
        text-align: center;
        padding: 0;
        width: 100%;
    }
    .img-sqr{
        display: grid;
        grid-template-columns: repeat(1,300px);
        gap: 1em;
    }
    /* ------------- */
    .section-2{
        flex-direction:column;
    }
    .segments{
        width: 200px;
        height: 50%;
    }
    .button-2{
        position: relative;
        width: 200px;
        height: 80px;
        font-weight: 700;
        font-size: 25px;
        padding: 5px 30px 5px 30px;
        margin-left: 70%;
    }
    /* --------------- */
    .image{
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 1em;
    }
    .archi{
        font-size: 10px;
        width: 90%;
    }
    /* ------------------------- */
    .icons{
        flex-direction: column;
        align-items: center;
    }
    /* --------------- */
    .section-5{
        padding: 0 0 0 0;
        align-self: center;
    }
    /* ---------------- */
    .sponsors{
        flex-direction: column;
        gap: 1em;
        padding-top: 2em;
    }
    nav img{
        width: 50%;
    }
    /* ----------------- */
    .foot{
        padding: 2em 5em 2em 5em;
        margin: 2em 2em 5em 2em;
    }
}
